@import "../../bower_components/bootstrap/scss/variables"

$sidebar-background: #FFEB3B
$sidebar-color: rgb(20,20,20)
$body-background: whitesmoke
$body-color: rgb(20,20,20)

body
  position: relative
  background-color: $body-background
  color: $body-color
  //font-family: 'Raleway', sans-serif
  font-family: 'Open Sans', sans-serif

.topbar
  background-color: $sidebar-background
  color: $sidebar-color
  a
    color: $sidebar-color


.sidebar
  padding: 0
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  position: fixed
  background-color: $sidebar-background
  box-shadow: 0 2px 8px rgba(0,0,0,.05)
  ul
    li
      text-align: left
      padding-top: 1.5rem
      padding-bottom: 0rem
      letter-spacing: 1px
      a
        padding-bottom: 0.0rem
        width: 100%
      a.active:after
        content: " "
        color: #141414
        margin-left: 0.5rem
        width: 100%
        height: 1px
        background-color: black
        display: block
        margin-top: -6px
        margin-left: 0px
        opacity: 0.4
      a.active
        border-radius: .0rem

.sidebar a
  color: $sidebar-color

#line
  float: right
  height: 104px
  width: 2px
  background-color: white
  position: relative
  left: -20px
  top: 10px


section
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  text-align: justify
  line-height: 30px


.promo
  background-color: $sidebar-background
  color: $sidebar-color
  text-align: center
  margin-bottom: 3rem
  h1
    margin-bottom: 1rem
    letter-spacing: 1px
  i
    margin-right: 5px
  span
    font-size: 12px
  div
    text-align: left

h2
  margin-bottom: 2rem

h2:after
  content: "_"
  color: $sidebar-background
  font-size: 1.3em
  margin-left: 5px
  font-weight: bold

.page-container
  button
    color: $body-color
    border: 3px solid $sidebar-background
    background-color: $sidebar-background
    border: none
    border-bottom: 2px solid darken($sidebar-background, 30%)
  button:hover
    background-color: $sidebar-background
    color: $body-color
    border: none
    border-bottom: 2px solid darken($sidebar-background, 30%)



