body {
  position: relative;
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background: -webkit-linear-gradient(21deg, rgba(74,144,226,0.8), rgba(57,148,255,0.8) 12%, rgba(63,150,253,0.8) 19%, rgba(86,158,242,0.8) 49%, rgba(19,110,216,0.8));
  background: linear-gradient(69deg, rgba(74,144,226,0.8), rgba(57,148,255,0.8) 12%, rgba(63,150,253,0.8) 19%, rgba(86,158,242,0.8) 49%, rgba(19,110,216,0.8));
  box-shadow: 0 1px 13px 4px rgba(0,0,0,0.17);
}

.sidebar ul {
  float: left;
}

#line {
  float: right;
  height: 104px;
  width: 2px;
  background-color: white;
  position: relative;
  left: -20px;
  top: 10px;
}

.sidebar ul li {
  text-align: center;
  padding-top: 1.5rem; 
}
.sidebar ul li:first-of-type {
  padding-top: 0px;
}

.sidebar ul li:after {    
  font-family: 'FontAwesome';
  content: '\f111';
  float: right;
  position: relative;
  left: 7px;
  color: white;
  cursor: pointer;
}

section {
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
