body {
  position: relative;
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background: -webkit-linear-gradient(21deg, rgba(74,144,226,0.8), rgba(57,148,255,0.8) 12%, rgba(63,150,253,0.8) 19%, rgba(86,158,242,0.8) 49%, rgba(19,110,216,0.8));
  background: linear-gradient(69deg, rgba(74,144,226,0.8), rgba(57,148,255,0.8) 12%, rgba(63,150,253,0.8) 19%, rgba(86,158,242,0.8) 49%, rgba(19,110,216,0.8));
  box-shadow: 0 1px 13px 4px rgba(0,0,0,0.17);
}

.sidebar ul li {
  text-align: center;
  margin-top: 1rem; 
}

section {
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
